body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #BBE1FA;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#div1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(60deg, #0F4C75 0%, #1B262C 90%);
    color: white;
    font-weight: bolder;
    border-radius: 50px;

    font-size: 30px;
    height: 100px;
    width: 80%;
    margin-top: 50px;
}

button{
    background-color: #3282B8;
    color: white;
    margin-top: 50px;
    height: 50px;
    width: 250px;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 50px;
}

button:hover{
    background: #0F4C75;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}